@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

@layer base {

  :root {

    --web-primary: #1268b3;
    --web-hoverprimary: #0b5291;
    --web-primary-foreground: #FFFFFF;

    --web-secondary: #CCE4F0;
    --websecondary-foreground: #0F172A;
    --background: #F9F9F9;
    --foreground: #000000;
    --web-card: #FFFFFF;
    --web-card-foreground: #000000c2;

    --web-popover: #ffffff;
    --web-popover-foreground: #020817;

    --web-muted: #BDC4D44D;
    --web-muted-foreground: #64748B;

    --web-accent: #F1F5F9;
    --webaccent-foreground: #0F172A;

    --web-success: #10792C;
    --web-success-foreground: #F8FAFC;

    --web-destructive: #F80E0E;
    --web-destructive-foreground: #F8FAFC;

    --web-border: #1268b3;
    --web-input: #E2E8F0;
    --web-ring: #020817;
    --text-para: #4d4d4d;
    --light-theme: #f5fafc;

    --web-radius: 0.5rem;

    --sidebar-background: #0077B5;

    --sidebar-foreground: #4c91acaf;

    --sidebar-primary: #ffffff1a;

    --sidebar-primary-foreground: #FAFAFA;

    --sidebar-accent: #F4F4F5;

    --sidebar-accent-foreground: #18181B;

    --sidebar-border: #E5E7EB;

    --sidebar-ring: #3B82F6;
  }

}

@layer base {
  * {
    @apply border-[var(--web-border)];
  }

  body {
    @apply bg-[var(--background)] text-[var(--foreground)];
  }
}


.swal2-confirm-custom {
  background-color: var(--web-primary) !important;
  color: #fff !important;
}

.swal2-cancel-custom {
  background-color: var(--web-muted-foreground) !important;
  color: #fff !important;
}

.hide-scrollbar {
  overflow-y: auto;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
  /* Chrome, Safari */
}

.theme-btn {
  border: 2px solid var(--web-primary);
  border-radius: 8px;
  padding: 8px 10px;
  font-weight: 500;
  color: var(--web-primary);
  background: none;
  transition: background 0.2s, color 0.2s;
  cursor: pointer;
  font-size: 16px;
}

.theme-btn:hover {
  background: var(--web-primary);
  color: #fff;
  border-color: var(--web-primary);
}

.theme-btn-fill {
  font-size: 16px;
  background: var(--web-primary);
  color: #fff;
  border: 2px solid var(--web-primary);
  border-radius: 8px;
  padding: 10px 8px;
  font-weight: 500;
  color: var(--web-card);
  transition: background 0.2s, color 0.2s;
  cursor: pointer;
}

.theme-btn-fill:hover {
  background: transparent;
  color: var(--web-primary);
  border-color: var(--web-primary);
}

.space-top {
  margin-top: 90px;
}

@media screen and (max-width:991px) {
  .space-top {
    margin-top: 70px;
  }
}

@media screen and (max-width:768px) {
  .space-top {
    margin-top: 60px;
  }
}

.theme-btn-ouline {
  cursor: pointer;
  padding: 10px 4px;
  margin: 0;
  position: relative;
  display: inline-block;
  border-radius: 8px;
  border: 2px solid var(--web-primary);
  overflow: hidden;
  background: white;
  transition: color 0.8s ease;
  z-index: 1;
  font-size: 16px;
  color: var(--web-primary);
}

.theme-btn-ouline::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--web-primary);
  transition: left 0.5s ease;
  z-index: -1;
}

.theme-btn-ouline:hover::after {
  left: 0;

}

.theme-btn-ouline:hover {
  color: white;
}

.trusted-medical-card:hover {
  border-bottom: 6px solid var(--web-primary);
}

nav .active {
  color: var(--web-primary);
  background-color: var(--web-secondary);
}

.slick-slide>div {
  margin-right: 15px;
}

ul.react-multi-carousel-dot-list .react-multi-carousel-dot--active button {
  background-color: var(--web-primary);
  border: var(--web-primary);
}

li.react-multi-carousel-dot button {
  background: var(--web-secondary);
  border: var(--web-secondary)
}
